*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
/post_check/outputs/*
/post_check/*/plots
/post_check/*/old
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
.RData
/IMG/*
filtered_actions.txt
.devcontainer/ehrql-main/
/example-data/*
analysis/old_model_files/*
analysis/dummydata/*.arrow